<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Task list app</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Task list app</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span>Input job title</span>
                    <input type="text" v-model="jobTitle">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span>Input job description</span>
                    <input type="text" v-model="jobDesc">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <input type="submit" value="Put job to list" v-on:click.prevent="addJob">
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="card" v-for="item in items">
                    <div class="card-block">
                        <h3> {{item.title}} </h3>
                        <p> {{item.desc}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                appTitle: "Task list app",
                jobItem: "",
                jobDesc: "",
                items: [
                    { title: "Job title text", desc: "Job desc text" },
                    { title: "Job title text", desc: "Job desc text" },
                    { title: "Job title text", desc: "Job desc text" },
                    { title: "Job title text", desc: "Job desc text" }
                ]
            },
            methods: {
                addJob: function () {

                }

            }
        })
    </script>
</body>

</html>