<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>


    <div class="container">
        <div class="row justify-content-md-center"></div>

    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span> {{ title }} </span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span>Input job title</span>
                    <input type="text" v-model="jobTitle">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span>Input job description</span>
                    <input type="text" v-model="jobDesc">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <input type="submit" value="store jobs to list" v-on:click.prevent="addJob">
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="card" v-for="item in items">
                    <div class="card-block">
                        <h3> {{ item.title }} </h3>
                        <p> {{ item.desc }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                title: "Tasl store app",
                jobTitle: "",
                jobDesc: "",
                items: [
                    {title: 'Finish second part', desc: 'learn graphql api server'},
                    {title: 'continue', desc: 'continue to do u-project'}
                ]
            },
            methods: {
                addJob: function() {
                if(this.jobTitle!=='' & this.jobDesc!=='' ){
                    item = {};
                    item.title = this.jobTitle;
                    item.desc = this.jobDesc;
                    this.items.push(item);
                    this.jobTitle = '';
                    this.jobDesc = '';
                    }
                }
            }
        })
    </script>
</body>
</html>
